/**
Inspo:
- https://www.w3schools.com/howto/howto_css_two_columns.asp
- https://www.google.com/search?q=pokemon+field+background&tbm=isch&chips=q:pokemon+field+background,g_1:grassland:AFDKyOgSBTs%3D&rlz=1C1CHBF_enUS878US878&hl=en&sa=X&ved=2ahUKEwjswOOdlev2AhXygnIEHYxICMgQ4lYoAHoECAEQHg&biw=1499&bih=686#imgrc=OwUS6MjKUACwJM
- https://www.tutorialrepublic.com/faq/how-to-overlay-one-div-over-another-div-using-css.php
- https://www.alphr.com/games/1003947/whos-that-pokemon-can-you-guess-all-17-of-these-masked-pokemon-go-critters/
- https://e7.pngegg.com/pngimages/358/130/png-clipart-silhouette-of-person-running-cross-country-running-computer-icons-running-man-miscellaneous-hand.png
**/

* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Georgia, Verdana, Times, serif;
    margin: 0;
    padding: 15px;
    color: #384652;
    font-size: 13pt;
    background-image: url("images/field.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.synopsis {
    margin: 150px;
    padding: 20px;
    text-align: center;
    font-size: 15pt;
    color: #273541;
    border-radius: 8px;
    border-style: solid;
    background: rgba(199, 216, 231, 0.8); /*opacity = 0.8*/
}

.bottom {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    height: 600px;
    border-style: solid;
    padding: 20px;
    font-size: 20pt;
    background-color: #fffafa;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

.user {
    background-image: url("images/user.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.run:hover user{
    background-image: url("images/userrun.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.whosthatpokemon {
    background-image: url("images/ball.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    font-size: 15pt;
    width: 150px;
    padding: 10px 5px;
    background: #ffe1e1;
    border-style: solid;
    border-radius: 7px;
    border: none;
    box-shadow: 0 7px 0 #ed7777;
    transition: all .1s linear;
    cursor: pointer;
  }
button:active {
    box-shadow: 0 5px 0 #ed7777;
    transform: translateY(3px);
}

.btnscale {
    transition: transform 250ms;
}
.btnscale:hover {
    transform: scale(1.3)
}


/*----------HP BAR----------*/
.container {
    position: relative;
}
.hpbar {
    padding: 15px 16px;
    border-radius: 7px;
    background-color: #82b862;
    font-size: 20pt;
    width: 100%;
    position: absolute;
}